.membershipNav {
  text-align:center;
  padding-top:150px;
  position: absolute;
  top: -10px;
}

.membershipNav ul {
  margin-bottom:0px;
}

.membershipNav ul li {
  display: inline-block;
  list-style: none;
  padding:0px 10px 20px 10px;
  text-transform:uppercase;
  text-align: center;
  margin: 0px 20px;
}

.membershipNav ul li a {
  display:block;
  color: $white;
  border-bottom: 10px solid transparent;
  transition: all .3s ease;

  &:hover{
    color: $accent;
    border-bottom: 20px solid $black;
  }

  &.active{
    color: $accent;
    border-bottom: 20px solid $black;
  }
}

.membershipNavContainer{
  height: 200px;
}