@import "susy";
@import 'base/normalize';
@import 'base/variables';
@import 'base/global';
@import "base/typography";

// Import Components
@import 'components/nav';
@import 'components/footer';
@import 'components/featuredEventSection';
@import 'components/sponsors';
@import 'components/eventsList';
@import 'components/slider';
@import 'components/membership-nav';

// Import Layouts
@import 'layouts/home';
@import 'layouts/about';
@import 'layouts/event';
@import 'layouts/join';
@import 'layouts/my-account';
@import 'layouts/member-directory';
@import 'layouts/event-videos';


body{
  background-color: $black;
  font-family: $fontSerif;
  color: $lightGray;
  letter-spacing: .1rem;
}

.blackBackground{
  background-color: $black;
  box-shadow: inset -3px 2px 10px $black;
}

.grayBackground{
  background-color: $darkGray;
  box-shadow: inset -3px 2px 10px $black;
}

