.joinContainer{
  padding: 250px 0px;
}

.joinOption{
  border: 1px solid $lightGray;
  padding: 20px;
  transition: all .5s ease;
  text-align: center;
  display:block;
  margin-bottom:48px;
  font-family: NHaas-Regular,sans-serif;

  &:hover{
    border: 1px solid $accent;
    color: $white;
    cursor: pointer;
  }
}

.joinOptionStudent{
  height: 200px;
  display: block;
  margin-bottom: 40px;
}

.joinFAQ{

  h4{
    display: block;
    margin-top: 150px;
    font-size: 2.5rem;
  }

  .whiteText{
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .smallTitle {
    border-bottom: solid 2px white;
    padding-bottom:24px;
    margin-bottom:24px;
  }
}

.feature {
  border-top:solid 1px #ABABAB;
  padding-top:12px;
}

.price {
  font-size:1.4em;
}

.packageTitle {
  margin-bottom:0px;
}

.faqContainer {
  padding-top:125px;
}