.whiteBackground {
  background:white;
}

ul.tab-nav {
  list-style: none;
  padding-left: 5px;
  width:70%;
  margin:auto;
}

ul.tab-nav li {
  display: inline;
}

ul.tab-nav li a.button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  border-bottom: 3px solid transparent;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: $font;
  font-size:15px;
  padding:0px;
}

ul.tab-nav li a.active.button {
  border-bottom: 3px solid $black;
}

.tab-content {
  width:70%;
  margin:auto;
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}

.tab-content .tab-pane .container {
  width:100%;
}

.memberPhoto {
  display:block;
  width:300px;
  height:300px;
  background:red;
}

.memberPhoto2 {
  display:block;
  width:100%;
  height:200px;
  background:red;
  margin-bottom: 20px;
}

.changePhotoButton{
  position: relative;
  top: 265px;
}

.memberInputs{
  border-radius: 0 !important;
  border: 0 !important;
  border-bottom: 1px solid $black !important;
  display: block;
  margin-bottom: 40px;
  font-family: $font;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* LOGIN PAGE */

.loginContainer{
  padding-top: 150px;
}

#rememberMeLabel{
  display: inline;
  position: relative;
  top: -2px;
}

#loginButton{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 150px;
}

.row.margin {
  margin:48px 0px 24px 0px;
}

.switch.margin {
  margin-top:8px;
}

.row.save {
  margin:24px 0px 64px 0px;
}

.save .secondaryButton {
  padding:15px 60px;
}

.upgrade {
  position:relative;
  top:50px;
}

.cancel {
  position:relative;
  top:80px;
  font-size:11px;
  color:#ABABAB !important;
}

.center.columns {
  text-align:center;
}

ul.tab-nav li {
  margin-right:15%;
}

hr.margin {
  margin: 24px 0 48px 0px;
}

.memberEmail{
  i{
    position: relative;
    right: 10px;
    font-size: 18px;
  }
}

.membershipContent{
  display: block;
  padding-top: 50px;
}

.directoryMemberInfo{

  p{
    color: $darkGray;
    margin-bottom: 0px;

    a{
      color: $accent;
    }
  }
}

.directoryMemberSocialIcon{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  @include gallery(1 of 5);
  text-align: center;

  i{
    font-size: 20px;
  }
}

.directoryMemberHr{
  margin-bottom: 50px;
}

.available{
  font-size: 13px;
}

.eventVideo{
  width: 100%;
  height: 200px;
  background-color: $darkGray;
}

.videoEventTitle{
  margin-bottom: 0px;
  margin-top: 20px;
}

.videosContainer{
  padding-top: 50px;
}